@import 'variables';
@import 'form';
@import 'user-nav';
@import 'nav';
@import 'results';
@import 'signup-success-screen';
@import 'my-books';
@import 'modal-button';
@import 'error-msg';
@import 'about';
@import 'footer';
* {
    box-sizing: border-box;
}
.app-container {
    min-height: 100vh;
    background-color: $bg-grey;
    .title-wrapper, .subtitle-wrapper {
        text-align: center;
    }
    .title-wrapper {
        font-size: 4em;
        font-weight: 900;
        line-height: 1em;
        padding-top: 1em;
    }
    .subtitle-wrapper {
        color: grey;
        margin-bottom: 2em;
        margin-top: .3em;
    }
    .layout-buttons-container {
        text-align: center;
        .icon {
            opacity: .75;
            transition: all .3s ease;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    .flexbox-container {
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        .emoji-wrapper {
            display: inline-block;
            float: right;
        }
        .nav-container, .content-container, .user-nav-container {

        }
        .nav-container {
            flex-grow: 1;
        }
        .content-container {
            flex-grow: 8;
        }
    }
    .error-msg {
        text-align: center;
    }
}
