@import 'variables';
@import 'login-form';
@import 'signup-form';
.app-container {
    background-color: $bg-grey;
    & > * {
        background-color: $bg-grey;
    }
    .title-wrapper, .subtitle-wrapper {
        text-align: center;
    }
    .title-wrapper {
        // border: 1px solid red;
        font-size: 4em;
        font-weight: 900;
        line-height: 1em;
    }
    .subtitle-wrapper {
        color: grey;
        margin-bottom: 1em;
    }
    .layout-buttons-container {
        text-align: center;
        & > * {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .flexbox-container {
        margin: auto;
        width: 80%;
        // border: 3px solid red;
        display: flex;
        flex-direction: row;
        .emoji-wrapper {
            display: inline-block;
            float: right;
        }
        .nav-container, .content-container, .auth-container {
            // border: 3px solid black;
            height: 400px;
        }
        .nav-container {
            flex-grow: 1;
            // .search-bar-wrapper, .home-link-wrapper, ... {}
            & > * {
                height: 3em;
                &:hover {
                    // border: 1px solid $light-grey;
                    border-radius: $bd-radius;
                    background-color: white;
                    box-shadow: 0 .2px 1px grey;
                    cursor: pointer;
                }
                .text-wrapper {
                    // border: 1px solid red;
                    display: inline-block;
                    color: grey;
                    line-height: 3em;
                    margin-left: 1em;
                }
                .emoji-wrapper {
                    line-height: 3em;
                    margin-right: 1em;
                }
            }
            .search-bar-wrapper {
                position: relative;
                input {
                    background: $light-grey;
                    width: 100%;
                    height: 3em;
                    border: none;
                    padding-left: 1em;
                    border-radius: $bd-radius;
                    &:focus {
                        outline: none;
                        background-color: white;
                        box-shadow: 0 .2px 1px grey;
                    }
                }
                .emoji-wrapper {
                    position: absolute;
                    right: 0;
                }
            }
        }
        .content-container {
            flex-grow: 8;
        }
        .auth-container {
            flex-grow: 1;
            & > * {
                height: 3em;
                &:hover {
                    // border: 1px solid $light-grey;
                    border-radius: $bd-radius;
                    background-color: white;
                    box-shadow: 0 .2px 1px grey;
                    cursor: pointer;
                }
                .text-wrapper {
                    // border: 1px solid red;
                    display: inline-block;
                    color: grey;
                    line-height: 3em;
                    margin-left: 1em;
                }
                .emoji-wrapper {
                    line-height: 3em;
                    margin-right: 1em;
                }
            }

        }
    }

}
