@import 'variables';
.results-container {
    .my-books-nav {
        border-bottom: 1px solid $medium-grey;
        height: 2.19em;
        white-space: nowrap;
        margin-bottom: .5em;
        .my-book-nav-item {
            display: inline-block;
            font-size: 1.8em;
            height: 1.5em;
            margin-left: 1em;
            transition: all .3s ease, border-bottom 1ms;
            color: black;
            &:hover {
                cursor: pointer;
                border-bottom: 3px solid $picton-blue;
                color: $picton-blue;
            }
        }
        .my-book-nav-item.clicked {
            border-bottom: 3px solid $picton-blue;
            color: $picton-blue;
        }
    }
    .book-list-view {

        .buttons-container {

            position: relative;
            top: -84px;
            .button-container {
                border-radius: $bd-radius;
                float: right;
                text-align: center;
                transition: all .3s ease;
                padding: 0 .5em 0 .5em;
                &:hover {
                    cursor: pointer;
                    background: radial-gradient(circle at center, $picton-blue 0, $dodger-blue, $jordy-blue 100%);
                }
                .text-wrapper {
                    color: black;
                    text-align: center;
                    transition: all .3s ease;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
