@import 'variables';

.nav-item-container.greeting-wrapper {
    border-radius: $bd-radius;
    background-color: white;
    box-shadow: 0 .2px 1px grey;
    cursor: pointer;
}
.nav-item-container {
    height: 3em;
    transition: all .1s ease;
    position: relative;
    width: 200px;
    &:hover {
        border-radius: $bd-radius;
        background-color: white;
        box-shadow: 0 .2px 1px grey;
        cursor: pointer;
    }
    .text-wrapper {
        display: inline-block;
        color: grey;
        line-height: 3em;
        margin-left: 1em;
    }
    input {
        background: $light-grey;
        width: 100%;
        height: 3em;
        border: none;
        padding-left: 1em;
        border-radius: $bd-radius;
        &:focus {
            outline: none;
            background-color: white;
            box-shadow: 0 .2px 1px grey;
        }
    }
    .emoji-wrapper {
        line-height: 3em;
        margin-right: 1em;
        position: absolute;
        right: 0;
    }
}
.nav-item-container.clicked {
    border-radius: $bd-radius;
    background-color: white;
    box-shadow: 0 .2px 1px grey;
    cursor: pointer;
}
