@import 'variables';

.results-container {
    // .book +.book {
    //     margin-left: .5em;
    // }
    // border: 1px solid red;
    // padding
    .book {
        margin: .5em;
        display: inline-block;
        // border: 1px solid blue;
        position: relative;
        // height: 290px;
        vertical-align: top;
        box-shadow: 0 1px 5px grey;
        border-radius: 5px;
        // img {
        //     // border: 1px solid green;
        //     border-top-left-radius: 5px;
        //     border-top-right-radius: 5px;
        //     width: 150px;
        //     height: 200px;
        // }
        .img {
            // border: 1px solid green;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: $book-img-width;
            height: 200px;
            background-position: center;
            background-size: 150px;
        }
        .img.zoom {
            background-size: $book-img-width + 20;
        }
        .img-shade {
            // height: 120px;
            // width: 100px;
            // border: 1px solid red;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: $summary-height + $request-button-height;
            left: 0;
            transition: all .3s ease;
            // background: rgba(0,0,0,.4);
            .view-detail-button {
                text-align: center;
                color: white;
                border: 1px solid white;
                position: relative;
                top: 50%;
                transform: translateY(-10px);
                width: 75px;
                margin: auto;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .summary-container {
            // border: 2px solid blue;
            width: $book-img-width;
            height: $summary-height;
            padding-left: .3em;
            .title {
                margin-top: .3em;
                font-weight: 900;
                font-size: 1.35em;
            }
            .author {
                color: grey;
            }
        }
        .trade-button-container {
            border-top: 1px solid $light-grey;
            // padding: .25em 0 .25em 0;
            height: $request-button-height;
            transition: all .3s ease;

            &:hover {
                cursor: pointer;
                background: radial-gradient(circle at center, $picton-blue 0, $dodger-blue, $jordy-blue 100%);
                // color: white;
            }
            .text-wrapper {
                color: black;
                text-align: center;
                line-height: $request-button-height;
                transition: all .3s ease;
                &:hover {
                    color: white;
                }
            }
        }
    }
    // .book-list-view + .book-list-view {
    //     border: 1px solid $light-grey;
    //     padding: .5em;
    // }
    .book-list-view {
        // border: 1px solid blue;
        // position: relative;
        white-space: nowrap;
        // border: 1px solid $light-grey;
        // padding: .5em;
        // display: flex;
        // flex-direction: row;
        // overflow: hidden;
        min-width: 600px;
        margin: .5em;
        height: $list-row-height;
        // min-width: 700px;
        &:hover {
            border-radius: $bd-radius;
            background-color: white;
            box-shadow: 0 .2px 1px grey;
        }
        .img-wrapper {
            // margin-left: 0em;
            // border: 2px solid purple;
            img {
                // border: 2px solid purple;
                height: $list-row-height;
                border-radius: $bd-radius;
            }
        }
        .title {
            // border: 1px solid red;
            padding-left: .5em;
            width: 200px;
            // overflow:auto;
        }
        .author {
            // border: 1px solid red;
            border-left: 1px solid $light-grey;
            // border-radius: $bd-radius;
            // min-width: 200px;
            vertical-align: top;
            // line-height: $list-row-height;
            padding-left: .5em;
            // overflow: auto;
            // float: right;
            // text-align: left;
            // line-height: $list-row-height;
        }
        .trade-button-container {
            // border: 1px solid red;
            border-radius: $bd-radius;
            // min-width: 140px;
            float: right;
            text-align: center;
            // border-left: 1px solid $light-grey;
            transition: all .3s ease;
            padding: 0 .5em 0 .5em;
            &:hover {
                cursor: pointer;
                background: radial-gradient(circle at center, $picton-blue 0, $dodger-blue, $jordy-blue 100%);
                // color: white;
            }
            .text-wrapper {
                color: black;
                text-align: center;
                // line-height: $list-row-height;
                transition: all .3s ease;
                &:hover {
                    color: white;
                }
            }
        }
        .img-wrapper, .title, .author, .trade-button-container {
            // flex-shrink: 0
            // flex-grow: 1;
            // white-space: nowrap;
            vertical-align: top;
            line-height: $list-row-height;
            display: inline-block;
        }
    }
}
