@import 'variables';

.signup-success-screen-container {
    position: relative;
    top: 50%;
    transform: translateY(-8px);
    .signup-success-emoji {
        font-size: 3em;
        text-align: center;
    }
    .signup-success-msg-container {
        text-align: center;
        color: grey;
        .cancel-button {
            color: $picton-blue;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
