@import 'variables';
.user-nav-container {
    flex-grow: 1;
    .user-window {
        .greeting-wrapper {
            .username-wrapper {
                display: inline-block;
                color: $picton-blue;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
