$light-grey: rgb(242,242,242);
$bg-grey: rgb(250,250,250);
$bd-radius: 4px;
$picton-blue: #22A7F0;
$dodger-blue: #19B5FE;
$jordy-blue: #89C4F4;
$summary-height: 90px;
$request-button-height: 40px;
$book-img-width: 160px;
$list-row-height: 60px;
